<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keita.pinganautoinsurance"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
     	>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <activity
            android:name="com.keita.pinganautoinsurance.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.keita.pinganautoinsurance.InsuranceActivity" >
        </activity>
        <activity android:name="com.keita.pinganautoinsurance.InsuranceRecordActivity" >
             <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.keita.pinganautoinsurance.MainActivity" />
        </activity>
        <activity android:name="com.keita.pinganautoinsurance.InsurancePhotoActivity" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.keita.pinganautoinsurance.MainActivity" />
            </activity>
        <activity android:name="com.keita.pinganautoinsurance.PhotoCommentActivity" >
            </activity>
        <activity android:name="com.keita.pinganautoinsurance.InsuranceLocationActivity" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.keita.pinganautoinsurance.MainActivity" />
            </activity>
        <activity android:name="com.keita.pinganautoinsurance.InsuranceTextActivity" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.keita.pinganautoinsurance.MainActivity" />
            </activity>
        <activity android:name="com.keita.pinganautoinsurance.InsuranceListActivity" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.keita.pinganautoinsurance.MainActivity" />
            </activity>
        <activity android:name="com.keita.pinganautoinsurance.InsuranceViewActivity" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.keita.pinganautoinsurance.InsuranceListActivity" />
            </activity>
        <activity android:name="com.keita.pinganautoinsurance.PhotoViewActivity" />
        <activity android:name="com.keita.pinganautoinsurance.PhotoListActivity" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.keita.pinganautoinsurance.MainActivity" />
            </activity>
        <activity android:name="com.keita.pinganautoinsurance.RecordListActivity" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.keita.pinganautoinsurance.MainActivity" />
            </activity>
        <activity android:name="com.keita.pinganautoinsurance.TemplateListActivity" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.keita.pinganautoinsurance.MainActivity" />
            </activity>
        <activity android:name="com.keita.pinganautoinsurance.CreateTemplateActivity" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.keita.pinganautoinsurance.TemplateListActivity" />
            </activity>
        <activity android:name="com.keita.pinganautoinsurance.AddEventActivity" >
             <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.keita.pinganautoinsurance.TemplateListActivity" />
        </activity>
        <activity android:name="com.keita.pinganautoinsurance.AboutMeActivity" />
        <activity android:name="com.keita.pinganautoinsurance.SettingActivity">
           <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.keita.pinganautoinsurance.MainActivity" /> 
        </activity>
    </application>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 访问精确位置的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 改变WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 读取电话状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>